@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --toploader-color: #0f172a;
}

.dark {
  --toploader-color: #e5e7eb;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}